* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;
}

header {
    background-color: #03153C;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 80px;
    z-index: 10;
}

header .logo img {
    margin: 20px;
    height: 40px;
}

header .logo {
    height: 80px;
}


main {
    padding: 20px;
}

.content {
    text-align: center;
}

h1 {
    font-size: 24px;
}



footer a {
    color: white;
    text-decoration: none;

    @media(max-width: 768px) {
        font-size: 3vw;
    }
    @media(min-width: 769px) {
        font-size: 14pt;
    }
}
footer {
    display: flex;
    justify-content: space-around;
}
